* {box-sizing: border-box;}

body {
    color: #1e2321;
    line-height: 1.5em;
}

a:link, a:active, a:visited {
    color: #434d3f;
}

a:hover {
    color: #83877c;
}

h2 {
    margin: 5% auto;
    text-align: center;
}

#login {
    border: 3px solid #ccd2ce;
    background-color: #f1f0ef;
    margin: 5% auto;
    width: 55%;
    border-radius: 3% 3% 0 0;
}

/* FONT SELECTION */
footer {
	color: #4c4f49;
	border-top: solid 3px #ccd2ce;
    background: #f1f0ef;
    position: bottom 0%;
	margin-top: 5%;
	width: 100%;
	padding: 0.5em 0.5em 0.5em 0;
	text-align: right;
	}

/* LOGIN INPUT */
#uname, #psw, #searchText {
    width: 100%;
    padding: 0.9em 1.2em;
    margin: 0.5em 0;
    display: inline-block;
    border: 1px solid #ccd2ce;
    border-radius: 2%;
    background-color: #ede7e3;
    color: #2d3230;
}

/* BUTTONS */
button, #print, input#searchButton, input#showOrder {
    background-color: #434d3f;
    color: #ede7e3;
    padding: 0.9em 1.2em;
    margin: 0.5em 0;
    border: none;
    border-radius: 2%;
    cursor: pointer;
    width: 100%;
}

input#showOrder, input#searchButton {
    width: auto;
    margin-right: 0.5em;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 0.4em 1.2em;
    background-color: #703c26;
}

/* BUSINESS IMAGE CONTAINER */
.imgcontainer {
    text-align: center;
    margin: 1em;
}

/* BUSINESS IMAGE */
img.avatar {
    width: 98%;
    max-height: 16em;
    border: 3px solid #ccd2ce;
    border-radius: 3%;
    float: center;
}

/* CANCEL + FORGOT PASSWORD */
.container#container2 {
    background-color:#ccd2ce;
}

/* Add padding to containers */
.container {
    padding: 1em;
}

span.psw {
    float: right;
    font-size: 0.7em;
    padding-top: 1em;
}

/* TABLE STUFF */

/*#delivered {
    width: 3em;
}*/

#products {
    width: 100%;
}

#orderList, #productList, #receiptProductInfo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    border-radius: 0.5em;
    border: 3px solid #ccd2ce;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 2em;
    padding: 1em;
}

#productList td, #productList th, #orderList td, #orderList th, #receiptProductInfo td, #receiptProductInfo th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.95em;
    margin: none;
    border-collapse: collapse;
    text-align: center;
    padding: 0.6em 1em;
    width: fit-content;
}

input#searchText {
    width: 100%;
    margin-bottom: 1em;
    float: left;
    padding: 0.5em;
}

#orderList tr:nth-child(even) {
    background-color: #fff;
 }

#orderList tr:hover {
    background-color: #f1f0ef;
}

#orderList th, #productList th, #receiptProductInfo th {
    padding: 0.6em 1em;
    text-align: left;
    background-color: #f0f3f1;
    color: #1e2321;
}

#goPrint, #print {
    margin-top: 2em;
}

/* CUSTOMER INFORMATION */

#receiptOrderInfo {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 2em;
    border-radius: 0.5em;
    border: solid 3px #ccd2ce;
    padding: 0.6em 1em;
    width: 100%;
}

dl, dt {
    text-align: left;
    color: #1e2321;
    font-size: 1em;
    margin: auto;
    font-weight: bold;
}

dd {
    text-align: left;
    font-size: 0.95em;
    color: #282b2a;
    font-weight: lighter;
    margin: auto;
    text-indent: 1%;
}

#receiptProductInfo {
    text-align: left;
    font: 'Times New Roman';
}


/* all your print styles go here
@media print {
 #header, #footer, #nav { display: none !important; } 
}

TO DO 6/12:
- traffic lights: stuck on what it should look like
- graphics: h2 company name, logo image: if time!
- font options into footer: working on it!

NOTES + QUESTIONS:
- now that delivered text field ids are dynamic, previous delQty styles don't work: not the end of the world but set width of 3em would look nice!
- edited some minor language things
*/
